.container {
  padding: 15px 0;
  position: relative;
}

.input:focus ~ .label,
.input:not(:focus):valid ~ .label{
  top: 0;
  bottom: 10px;
  font-size: 12px;
  opacity: 1;
}

.input {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e2dcdc;
  background-color: transparent;
  width: 100%;
  height: 25px;
  outline: none;
  color: #b9b9b9;
}

.label {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 15px;
  transition: 0.2s ease all;
  color: #e2dcdc;
}