.container {
  padding: 24px 0;
}

.button {
  height: 48px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: #e0e9f1;
}

.button:hover {
  background-color: #ffffff;
  cursor: pointer;
}
