.content {
  background-color: #d8e7ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile {
  margin: 80px auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  width: 300px;
}

.profile > span {
  font-size: 16px;
  font-weight: 500;
  color: #17198f;
}

.image {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 32px;
  color: #17198f;
}

.role {
  font-weight: 500;
  color: black;
  font-size: 20px;
}
