.container {
  background-color: #eef8ff;
  box-shadow: 2px 2px 10px #7f8188;
  color: #1b2127;
  /* min-width: 300px; */
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.container:hover {
  background-color: #d1ecff;
  color: #0b1116;
}

.container:active {
  background-color: #b8ddf8;
  color: #0b1116;
}

.detail {
  display: flex;
}

.personIcon {
  padding-right: 20px;
}

.description > p {
  color: #14161f;
  font-size: 16px;
}

.description > span {
  color: #7f8188;
  font-size: 14px;
}

.defaultArrow, .rotateArrow {
  padding: 5px;
  transition: 0.15s linear;
}

.defaultArrow {
  transform: rotate(90deg);
}

.rotateArrow {
  transform: rotate(270deg);
}

.openDetail, .collapsedDetail {
  display: flex;
  position: relative;
  /* box-shadow: 3px 3px 7px 0px #7f8188; */
}

.detailItem {
  margin-left: 10px;
  margin-right: 40px;
}

.detailItem > p:first-child {
  font-size: 18px;
  color: #232425;
}

.openDetail {
  background-color: #d8dbdd;
  color: #1d1c47;
  visibility: visible;
  transition: 0.2s cubic-bezier(0.27, 0.29, 1, 1);
  border-radius: 5px;
  margin: 0 5px 10px;
  padding: 10px;
  min-width: 310px;
}

.collapsedDetail {
  height: 0px;
  visibility: hidden;
  margin: 0 5px;
  padding: 10px;
}

.actionButtons {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.actionButtons > svg {
  padding: 0 2px;
  margin: 0 2px;
  cursor: pointer;
}

.deleteIcon:hover {
  fill: rgb(255, 25, 25);
}

.editIcon:hover {
  fill: blue;
}