.main {
  min-height: 100vh;
  display: flex;
}

.content {
  width: 100%;
  /* min-width: 400px;
  max-width: 900px; */
  /* margin: auto; */
  background-color: #d8e7ec;
  padding: 20px;
  border-radius: 5px;
}

.supplierHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.supplierHeader > p {
  font-size: 24px;
  color: rgb(26, 39, 95);
}

.supplierHeader > span {
  color: azure;
  background-color: #212752;
  padding: 5px 10px;
  border-radius: 5px;
}

.supplierHeader > span:hover {
  background-color: #4949f3;
  cursor: pointer;
}