.content {
  display: flex;
  height: 100vh;
  background-color: #d8e7ec;
}

.loader {
  margin: auto;
  border: 16px solid #d3e7fd;
  border-top: 16px solid #4da3f3;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}