.content {
  background-color: #212752;
  box-shadow: 5px 2px 11px #6c7086;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d8dcfd;
  height: 60px;
  color: #e9ecff;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 10px;
  border-top: 1px solid rgb(115, 116, 126);
  color: #e9ecff;
  fill: #e9ecff;
  cursor: pointer;
  text-decoration: none;
}

.profile:hover {
  color: #b6bdff;
  fill: #b6bdff;
}

.item {
  border: none;
  display: flex;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  padding-left: 10px;
  fill: white;
  color: white;
  text-decoration: none;
}

.item:hover, .item:active {
  background-color: #445df0;
}

.itemLink {
  margin-left: 10px;
}

@media (max-width : 800px) {
  .content {
    box-shadow: 5px 2px 11px #6c7086;
    width: 100vw;
    height: 30px;
  }

  .titleWrapper {
    display: flex;
  }

  .title {
    display: none;
  }

  .profile {
    display: none;
  }

  .item {
    display: flex;
    width: 20px;
    padding: 0;
    margin: 0;
  }

  .itemLink {
    display: none;
  }
}