.main {
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, #212752 37%, rgba(9,59,176,1) 37%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
}

.container {
  background-color: rgba(0, 255, 255, 0.233);
  box-shadow: 4px -3px 20px 3px #0c0c0c4f;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 48px;
  border-radius: 5px;
  width: 60%;
  max-width: 900px;
}

.content {
  padding: 48px 0;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e2dcdc;
}

.content > * {
  padding: 14px 0;
}

.contentTitle {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
}

.loginBox {
  flex: 1;
}

.loginBox > :first-child {
  margin-bottom: 20px;
}

.loginBox > form > :last-child {
  margin-top: 60px;
}

.loginTitle {
  text-transform: uppercase;
  font-size: 24px;
  color: #e2dcdc;
  font-weight: 600;
  padding: 8px 0;
}